<h2><%= @artist.name %> Leaderboard</h2>
<% if @artist.image_url %>
  <img src="<%= @artist.image_url %>" alt="<%= @artist.name %>" class="img-fluid mb-4">
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Rank</th>
      <th>User</th>
      <th>Listening Time</th>
    </tr>
  </thead>
  <tbody>
    <% @leaderboard.each_with_index do |stat, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= stat.user.display_name %></td>
        <td><%= stat.listening_time %> minutes</td>
      </tr>
    <% end %>
  </tbody>
</table>
